<ng-container *ngFor="let heat of heats; index as heatIdx; trackBy: idx">
  <h2>{{ heat.dance }}, heat #{{ heat.id }}</h2>
  <table mat-table [dataSource]="heat.couples" [trackBy]="id">

    <ng-container matColumnDef="lead">
      <td mat-cell *matCellDef="let element">{{element.lead}}</td>
    </ng-container>

    <ng-container matColumnDef="follow">
      <td mat-cell *matCellDef="let element">{{element.follow}}</td>
    </ng-container>

    <ng-container matColumnDef="points">
      <td mat-cell *matCellDef="let element; index as coupleIdx" class="no-print">
        <mat-form-field appearance="fill">
          <mat-label>Points</mat-label>
          <input matInput type="number" min="0" [formControl]="formArray.at(heatIdx).at(coupleIdx)">
        </mat-form-field>
      </td>
    </ng-container>

    <tr mat-row *matRowDef="let row; columns: [ 'lead', 'follow', 'points' ];"></tr>
  </table>
</ng-container>
