<table mat-table [dataSource]="participantsService.participants" [trackBy]="id">

  <ng-container matColumnDef="firstName">
    <th mat-header-cell *matHeaderCellDef>First name</th>
    <td mat-cell *matCellDef="let element">{{element.firstName}}</td>
  </ng-container>

  <ng-container matColumnDef="lastName">
    <th mat-header-cell *matHeaderCellDef>Last name</th>
    <td mat-cell *matCellDef="let element">{{element.lastName}}</td>
  </ng-container>

  <ng-container matColumnDef="role">
    <th mat-header-cell *matHeaderCellDef>Role</th>
    <td mat-cell *matCellDef="let element">{{element.role}}</td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <button type="button" mat-icon-button (click)="removeParticipant(element)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns | async"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns | async;" [class]="drawnParticipants.includes(row.id) ? 'drawn-participant': null"></tr>
</table>

<mat-card class="main-card" *ngIf="!(participantsService.locked | async)">
  <mat-card-header>
    <mat-card-title>Add a participant</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="participantFormGroup" style="padding: 10px">
      <div class="flex-row">
        <mat-form-field appearance="fill" class="flex-fill">
          <mat-label>First name</mat-label>
          <input matInput formControlName="firstName" name="firstName">
        </mat-form-field>

        <mat-form-field appearance="fill" class="flex-fill">
          <mat-label>Last name</mat-label>
          <input matInput formControlName="lastName" name="lastName">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Role</mat-label>
          <mat-select formControlName="role" name="role">
            <mat-option value="LEAD">Lead</mat-option>
            <mat-option value="FOLLOW">Follow</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="flex-row">
        <div class="flex-fill"></div>
        <button mat-raised-button color="primary" class="flex-auto" type="button" (click)="addParticipant()"
                [disabled]="participantFormGroup.invalid">
          Add
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>

<mat-card class="main-card" *ngIf="!(participantsService.locked | async)">
  <mat-card-header>
    <mat-card-title>Start competition</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>In order to start the first round, you have to lock the participants. Once started, the participants can only be edited by resetting the competion.</p>
    <p *ngIf="((participantsService.balance | async) ?? 0) > 0" style="color: var(--mdc-filled-text-field-error-label-text-color)">
      Unbalanced participants: There are {{ participantsService.balance | async}} more leads than follows.</p>
    <p *ngIf="((participantsService.balance | async) ?? 0) < 0" style="color: var(--mdc-filled-text-field-error-label-text-color)">
      Unbalanced participants: There are {{ -((participantsService.balance | async) ?? 0) }} more follows than leads.</p>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-raised-button color="primary" class="flex-auto" type="button" (click)="drawParticipants()" *ngIf="(participantsService.balance | async) !== 0 && drawnParticipants.length == 0">
        Draw participants for removal
    </button>
    <button mat-raised-button color="primary" class="flex-auto" type="button" (click)="participantsService.lock().subscribe()" [disabled]="(participantsService.balance | async) !== 0">
      Lock participants
    </button>
  </mat-card-actions>
</mat-card>

<mat-card class="main-card" *ngIf="(participantsService.locked | async)">
  <mat-card-header>
    <mat-card-title>Participants locked</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>The competition has been started. You cannot edit participants without resetting the competition.</p>
    <p>When resetting the competition, all rounds so far will be lost and will have to be re-danced (or at least entered again).</p>
  </mat-card-content>
  <mat-card-actions>
    <button type="button" class="flex-auto" mat-button (click)="participantsService.unlock().subscribe()">Reset rounds</button>
    <div class="flex-fill"></div>
    <a class="flex-auto" mat-raised-button color="primary" routerLink="../current-rounds">Show current round</a>
  </mat-card-actions>
</mat-card>
