<ng-container *ngFor="let round of (roundsService.rounds | async); trackBy: id;">
  <ng-container class="main-card" *ngIf="round.state === 'SUPERSEDED'">
    <h2>Round #{{round.number}}</h2>
    <app-evaluated-round #evaluatedRounds [round]="round"></app-evaluated-round>
  </ng-container>
</ng-container>

<mat-card class="main-card" *ngIf="noPreviousRounds | async">
  <mat-card-content>
    <p>No round has been evaluated yet.</p>
  </mat-card-content>
  <mat-card-actions align="end">
    <a mat-raised-button color="primary" class="flex-auto" type="button" routerLink="../current-rounds">Show current round</a>
  </mat-card-actions>
</mat-card>
