<table mat-table [dataSource]="results.leads" [trackBy]="id">

  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef>Position</th>
    <td mat-cell *matCellDef="let element; index as idx">{{idx + 1}}</td>
  </ng-container>

  <ng-container matColumnDef="lead">
    <th mat-header-cell *matHeaderCellDef>Lead</th>
    <td mat-cell *matCellDef="let element">{{element.id}}</td>
  </ng-container>

  <ng-container matColumnDef="points">
    <th mat-header-cell *matHeaderCellDef>Follow</th>
    <td mat-cell *matCellDef="let element">{{element.points | number:'1.4'}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="[ 'position', 'lead', 'points' ]"></tr>
  <tr mat-row *matRowDef="let row; columns: [ 'position', 'lead', 'points' ]; index as idx" [class]="qualified(idx) ? 'qualified' : 'not-qualified'"></tr>
</table>

<table mat-table [dataSource]="results.follows" [trackBy]="id">

  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef>Position</th>
    <td mat-cell *matCellDef="let element; index as idx">{{idx + 1}}</td>
  </ng-container>

  <ng-container matColumnDef="follow">
    <th mat-header-cell *matHeaderCellDef>Follow</th>
    <td mat-cell *matCellDef="let element">{{element.id}}</td>
  </ng-container>

  <ng-container matColumnDef="points">
    <th mat-header-cell *matHeaderCellDef>Points</th>
    <td mat-cell *matCellDef="let element">{{element.points | number:'1.4'}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="[ 'position', 'follow', 'points' ]"></tr>
  <tr mat-row *matRowDef="let row; columns: [ 'position', 'follow', 'points' ]; index as idx" [class]="qualified(idx) ? 'qualified' : 'not-qualified'"></tr>
</table>

<div class="flex-row" *ngIf="round?.state === 'EVALUATED'">
  <div class="flex-auto" style="min-width: max(50%, 500px)"></div>
  <mat-form-field class="flex-fill">
    <mat-label>Number of couples in next round</mat-label>
    <input matInput type="number" [formControl]="couplesKeptFormControl">
  </mat-form-field>
</div>
